.header{
    font-family: 'Source Code Pro', monospace;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: top 0.6s;
    z-index: 2;
    color: white;
}

.header-hidden{
    top: -80px;
}

.header img {
    height: 70px;
    margin-left: 50px;
}