footer{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    margin-top: 20px;
    /* font-size: 20px; */
}

.footer-link{
    color: white;
}