$ruber: #ce4a70;
$cultured: #F0F0F0;
$culturedAlpha: rgba(240,240,240,.2);
$normalBlack: #303030;
$normalBlackAlpha: rgba(48, 48, 48, 0.2);
$budGreen: #7FB069;
$fullCircle: 50%;
$border: 1px solid red;
$transition: .2s;
// https://coolors.co/ce4a70-f0f0f0-7fb069
* {
    box-sizing: border-box;
}

.ruber{
    color: $ruber;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    height: fit-content;
    min-width: 100vw;
    width: 100vw;
    position: relative;
    background: $culturedAlpha;
    // backdrop-filter: blur(20px);
  }


  
$circles: "";
$width: 100vw;

@for $i from 1 through 250{
    $circles: $circles + random(100) + "vw"  + " " + random(1000) + "vh" + " " + 0 + " " + random() + "vh"  + " " + $ruber ;
    @if $i < 250{
        $circles: $circles + ",";
    }
}

.circle{
    position: absolute;
    top: -10%;
    left: 5%;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    opacity: 0.6;
    box-shadow: #{$circles};
    z-index: -1;
    animation: move 2s ease 1s infinite alternate;
  }

  @keyframes move {
      0%{
          transform: translateY(15px);
      }

      100%{
          transform: translateY(0px);
      }
  }

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $culturedAlpha;
    backdrop-filter: blur(.05vh);
    overflow: hidden;
    position: relative;
}


.jumbotron-container{
    width: 100%;
    // border: $border;   
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    h1{
        font-size: calc(51px + 5 * ((100vw - 320px) / 680)) ;
        color: $ruber;
    } 

    p {
        color: $normalBlack;
        font-size: calc(15px + 5 * ((100vw - 320px) / 680)) ;
    }

    span{
        color: $ruber;
        font-weight: bold;
    }
}

.social-media{
    height: fit-content;
    // border: $border;
    display: flex;
    justify-content: start;
    // this should be moved to its own 
    a {
        display: block;
        padding: 1em;
        width: calc(100vw/3 - 30);
        color: $ruber;
        text-decoration: none;
        margin: 3%;
        border-radius: 15px;
        border: 1px solid $ruber;
        background-color: $cultured;
        transition: $transition;
        // box-shadow: 0px 0px 5px 1px $normalBlackAlpha;

        &:first-child{
            margin-left: 0;
        }

        &:hover{
            color: $cultured;
            filter: drop-shadow(0 0 4px $ruber);
            background-color: $ruber;
            transition: $transition;
            transform: translateY(-5px) !important;
        }
    
        &:focus{
            outline: none;
            color: $cultured;
            filter: drop-shadow(0 0 4px $ruber);
            background-color: $ruber;
            transition: $transition;
            transform: translateY(-5px) !important;
        }
    }

    .jumbo-icons{
        font-size: calc(25px + 5 * ((100vw - 320px) / 680)) ;
    }
}

.big-container{
    max-width: 1600px;
    min-width: 300px;
    width: 80%;
}

// move to own file

.blog-title{
    font-size: calc(25px + 5 * ((100vw - 320px) / 680)) ;
    color: $ruber;
}

.blog-container{
    .blog{
        transition: $transition;
        position: relative;
        box-shadow: 0px 0px 15px 5px $normalBlackAlpha;
        height: 350px;
        max-width: 500px;
        width: 500px;
        min-width: 250px;
        margin: 20px 1%;
        border-radius: 5px;
        background-color: $ruber;
        color: white;

        &:hover{
            box-shadow: -5px 10px 20px 1px #ce4a70;
            transition: $transition;    
            transform: translateY(-10px);
        }

        &:focus{
            outline: none;
            box-shadow: -5px 10px 20px 1px #ce4a70;
            transition: $transition;    
            transform: translateY(-10px);
        }
    }
}

.projects-card-name{
    font-size: 20px;
}


.block-info{
    min-height: 400px;
    padding: 20px;
    width: 100%;
    // border: $border;
    color: $normalBlack;
    display: flex;
    margin: 70px 0;
    // box-shadow: 0 0 15px 2px $normalBlackAlpha;
    filter: drop-shadow(0px 0px 1px $ruber );
    background-color: $cultured;
    border-radius: 15px;
    transition: $transition;

    &:hover{
        box-shadow: -5px 10px 20px 1px $ruber;
        transition: $transition;
        transform: scale(1.05);
    }

    &:focus{
        outline: none;
        box-shadow: -5px 10px 20px 1px $ruber;
        transition: $transition;
        transform: scale(1.05);
    }

    section{
        flex-basis: 60%;
        padding: 15px;
    }

    .block-image-container{
        flex-basis: 40%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h4{
        font-size: calc(20px + 5 * ((100vw - 320px) / 680)) ;
        margin: 0;
        margin-bottom: 15px;
    }

    h2{
        font-size: calc(15px + 5 * ((100vw - 320px) / 680)) ;
        margin: 0;
    }

    p{
        font-size: calc(11px + 5 * ((100vw - 320px) / 680)) ;
    }
            
    a{  
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        color: $cultured;
        background-color: $ruber;
        box-shadow: 0px 0px 5px 1px $normalBlackAlpha;
        text-decoration: none;
        font-size: calc(11px + 5 * ((100vw - 320px) / 680)) ;
        border-radius: 15px;
        transition: $transition;
    }

    a:hover{
        transition: $transition;
        background-color: $cultured;
        color: $ruber;
        border: 1px solid $ruber;
    }

    a:focus{
        outline: none;
        transition: $transition;
        background-color: $cultured;
        color: $ruber;
        border: 1px solid $ruber;
    }

    .topic{
        // height: 250px;
        // width: 249px;
        width: 100%;
        object-fit: scale-down;
    }
    
    .me{
        border-radius: 50%;
        width: 250px;
        height: 250px;
        background-position: center;
        object-fit: cover;
    }
    
}

footer{
    color: $cultured;
    width: 100%;
    background-color: $ruber;
    font-size: calc(11px + 5 * ((100vw - 320px) / 680)) ;
    z-index: 1;
}



@media screen and(max-width: 980px){
    .jumbotron-container{
        h1{
            font-size: calc(45px + 5 * ((100vw - 320px) / 680)) !important;
        }
    }
}

@media screen and(max-width: 857px){
    .jumbotron-container{
        h1{
             font-size: calc(36px + 5 * ((100vw - 320px) / 680)) !important;
         }
    }


}


@media screen and(max-width: 740px){
    .block-info{
        flex-direction: column;
    }
}

@media screen and(max-width: 600px){

    .jumbotron-container{
        h1{
            text-align: center;
        }

        p{
            font-size: calc(12px + 5 * ((100vw - 320px) / 680)) ;
            text-align: center;
        }
    }

    .social-media{
        justify-content: center;
    }

}

