*{
    padding: 0;
    margin: 0;
}

body{
  /* background-color: black; */
}

/* theme colors */
.dark-blue-background{
  background-color: #607998;
}

.lime-green{
  background-color: #abc0b8;
}

.very-soft-orange{
  background-color: #f5e5c3;
}

.soft-orange{
  background-color: #F2AE94;
}

.moderate-pink{
  background-color: #ce4a70;
}



/* block component */
.block-info{
  position: relative;
  max-width: 1000px;
  background-color: #607998;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  margin: 0 auto 0 auto;
  transition: 1s;
}

.first-margin{
  margin-top: 90px;
}

.small-padding-top-bottom{
  padding: 5px 0;
}

.block-info section {
  width: 50%;
}

.block-info h1 {
  width: 50%;
  text-align: center;
}

.big-quote::before, .big-quote::after{
  content: '"';
  font-size: 65px;
  font-weight: bold;
}

.block-info-button{
  border: 1px solid white;
  background: none;
  font-size: 24px;
  color: white;
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 4px;
}

.block-info-button:hover{
  background: white;
  color: #607998;
  border: 1px solid #607998;
}

.block-container{
  padding: 50px;
}

/* fading css animations  */

.alert{
  transition: 1s ;
}

.alert-enter {
  opacity: 0;
  /* height: 200px; */
  /* background-color: red; */
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.alert-exit {
  /* background-color: blue; */
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.blue-card{
  padding: 0 50px;
  height: 450px;
  max-width: 1000px;
    /* background-color: #607998;  */
}